*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 115, 115);
}

main{
    width: 100%;
    min-height: 100vbh;
    padding: 20px;
}

#operations{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#operations input{
    width: 200px;
    height: 40px;
    padding: 2px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#operations button{
    width: 80px;
    height: 40px;
}

#jokes{
    display: flex;
    flex-direction: column;
    gap:4px;
    background-color: aliceblue;
    padding: 10px 20px;
    margin-top: 20px;
}

#jokes p{
    width: 100%;
    padding: 5px 5px;
    background-color: rgb(118, 118, 117);
    text-align: center;
}